<section class='home'>
  <div class='home-text'><h2>Your Furniture is Old</h2></div>
  <div class='home-text'><h3>Ours is older.</h3></div>

  <div class='home-text'><p class='cat-button'><%= link_to "Checkout our products", "/products", class: 'category' %></p></div>
  <div class='home-text'><p class='cat-button'><%= link_to "Checkout our categories", "/categories", class: 'category' %></p></div>
</section>
