<!DOCTYPE html>
<html>
  <head>
    <title>FurnitureStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='site-header'>
      <h1>Mallory Furniture</h1>
    </div>
    <%= yield %>
  </body>
</html>
