<html>
  <head>
    <style media="screen" type="text/css">

      header {
        font-family: helvetica, arial, sans-serif;
        background-color: blue;
        color: white;
      }

      body {
        font-family: helvetica, arial, sans-serif;
      }
    </style>
  </head>

  <body background="http://i.imgur.com/PgUcUfN.jpg">
    <span style="float:right">
      <h4>Your Furniture is Old</h4>
      <h5>Ours is older.</h5>
      <a href="/products">Checkout our products</a>
    </span>
  </body>
</html>
