<body background="http://i.imgur.com/PgUcUfN.jpg">
  <div class='home-text'><h4>Your Furniture is Old</h4></div>
  <div class='home-text'><h5>Ours is older.</h5></div>
  <div class='home-text'><a href="/products" class="enterButton">Checkout our products</a></div>
</body>
