$display-font: -apple-system, "Helvetica", Arial, sans-serif;

$header-color: #2C3E4E;
$header-button-color: white;
$button-color: #7892c2;
$button-border-color: black;

$shadow-color: lightblue;
$hover-color: lightgrey;

$item-name-color: #F2C40D;
$price-color: #BFF6EB;
